
@media screen and (max-width: 480px) {
    #topNav ul {
        height: 40px;
    }
    
    #topNav li:first-child, #appLogo span:first-child {
        display: none;
    }
    
    #appLogo {
        width: 115px;
    }
    
   #mainNav {
    background: #026966 !important;
    color: #ffff;
    position: relative;
    height: 90px;
}

#mainNav img {
    margin-left: 55%;
}

#mainNav a {
    color: #ffff;
}

    #mainNav div {
        padding: 0;
    }
    
    .navbar-toggler {
        margin-right: 25px !important;
    }

#mainNavbarNav {
    margin-top: 50px;
    margin-left: 10%;
    width: 5em;
}

#mainNavbarNav li {
    padding: 0 15px !important;
}

    
    .navbar-collapse ul li{
        background: #fff;
        z-index: 10;
    }

#mainNavbarNav .navbar-nav {
    width: 0;
}

#mainRight {
    margin: 10em 0;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    height: 150px;
    background: #3C7F78;
    color: #ffff;
    text-align: center;
    z-index: -1;
}
    

#mainRight a {
    font-size: 10px;

}
    #mainRight Button {
        margin: 3px auto ;
    }
    
    #gradient {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%) !important;
    width: 100%;
    height: 200px;
    z-index: -99;
    
}

#banner {
    
    margin-bottom: 0px;
    padding: 0px;
    height: 200px;
}

#bannerImg {
    z-index: -100;
    position: absolute;
    margin-top: 260px;
}

#bannerRight {
    flex-direction: column;
    margin-top: 10%;
    align-content: center !important;
    justify-content: end !important;
    padding-right: 0;
    position: absolute;
    z-index: -98;
}
    
    #apr {
        height: 270px;
        margin-top: 10px;
    }
    
    #infoGrid Button {
    margin-top: 150px;
    width: 100%;
    height: 45px;
    background-color: #3A7B73;
    color: #fff;
    font-size: 15px;
    font-family: monospace;
    line-height: normal;
}

    #poll {
        margin-top: 40px;
        text-align: center;
    }
    
    #marketplace {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 40px 0;
        background: #ffff;
    }
    
    #marketplace h4 {
        color: #3A7B73;
    }
    
    #marketplace p {
        margin-bottom: 5px;
        color: #fff;
    }
    
    #marketplace Button {
        margin-bottom: 10px;
        background: #3A7B73;
        color: #ffff;
        font-family: monospace;
    }
    
    #marketplaceImg {
        position: absolute;
        text-align: center;
        margin-left: -15px;
        z-index: -3;
    }
    
    Footer {
        background: #026966;
        flex-direction: row;
    }
    
    Footer img {
        padding-right: 15px;
    }
    
    Footer ul {
        list-style: none;
        font-size: 10px;
        width: 100px;
        text-align: center;
        padding-left: 0px;
        color: #ffff;
        font-weight: 500;
    }
    
    Footer p {
        color: #ffff;
        font-size: 10px;
        font-family: fantasy;
    }

    #footOne {
        margin-top: -5em;
    }
    #footTwo {
        margin-left: 2em;
    }
    
    #strozilla {
        text-align: center;
    }
}

@media screen  and (max-width: 635px) {
   

    #mainNav {
        height: 300px;
        clip-path:polygon(0% 70%, 100% 80%, 100% 0%, 0% 0%);
    }

    #mainRight {
        display: block;
        width: 100%;
        margin-top: 20px !important;
   } 
   #mainRight Button {
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
}

@media screen and (max-width: 815px) {
    #topNav a {
        font-size: 10px;
    }
    
    #fbLogo {
        width: 15px;
        height: 20px;
        padding: 1px 1px
    }
    
     #mainNavbarNav ul{
        margin-left: auto !important;
    }
    
    .navbar-collapse ul li{
        background: #fff;
        z-index: 100;
    }
}

@media screen and (max-width: 991px) {
    #topNav ul{
     flex-direction: row;
    }
    
    #fbLogo {
        width: 25px;
    }
    
    .container-fluid {
        align-items: flex-start !important;
    }
    
    #mainNav img {
        padding-top: 15px;
    }

    .navbar-toggler {
        margin-left: auto;
        margin-right: 10px;
    }

    #mainNavbarNav ul {
    background-color: #ffff !important;
    width: 300px;
    margin-left: auto;
    z-index: 1000;
    }

    #mainNavbarNav li a{
    font-weight: 700;
    color: #026966;
}
   
    #mainRight {
        margin-top: -35px;
    }
   
    #gradient {
        height: 350px;
        margin-top: -80px;
    }
    
    #bannerImg {
        margin-top: -80px;
    }
    #bannerRight p {
        font-size: 35px;
        line-height: 35px;
    }
    #bannerRight Button {
        width: 150px;
        font-size: 12px;
        line-height: 12px;
        margin-left: 55px;
    }
}





